/Proyecto/build/
/snapApp/nbproject/private/
/snapApp/build/
/BibliotecaPatrones/nbproject/private/
/BibliotecaPatrones/build/
/componenteDatos/nbproject/private/
/componenteDatos/build/
/componenteDatos/dist/
/usoComponenteTexto/nbproject/private/
/usoComponenteTexto/build/
/componenteCompuesto/nbproject/private/
/componenteCompuesto/build/
/ComponentePregunta/nbproject/private/
/ComponentePregunta/dist/
/ComponentePregunta/build/
/Cuestionario/nbproject/private/
/Cuestionario/build/
/componenteCompuesto/dist/
/hanoiProfundidad/build/
/hanoi/build/
/hanoi/dist/
/CitasMedicas/nbproject/private/
/CitasMedicas/CitasMedicas-war/nbproject/private/
/CitasMedicas/CitasMedicas-ejb/nbproject/private/
/citasPacientes/nbproject/private/
/citasPacientes/build/
/hanoiProfundidad/dist/
/anchuraHanoi/build/
/anchuraHanoi/dist/
/Calculadora/nbproject/private/
/hanoiGUI/nbproject/private/
/hanoiGUI/build/
/hanoiGUI/dist/
/citasPacientes/dist/
/citasMedicas/nbproject/private/
/citasMedicas/build/
/citasMedicas/dist/
/ListaArchivos/nbproject/private/
/ListaArchivos/build/